* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #140A32;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  scroll-behavior: smooth;
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}
html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

sup {
  color: inherit;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 1449.98px) {
  .container {
    max-width: none;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.btn {
  font-weight: 600;
  color: #fff;
  padding: 14px 20px;
  background-color: #33836E;
  border-radius: 10px;
  font-size: 16px;
  white-space: nowrap;
  -webkit-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}
.btn:hover {
  background-color: #81D2BC;
}

.btn-outline {
  padding: 10px 20px;
  border: 1px solid rgba(47, 43, 67, 0.1490196078);
  border-radius: 10px;
  -webkit-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}
.btn-outline:hover {
  color: #fff;
  background-color: #2f2b43;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 40px 0;
}
.header__nav-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__nav-search {
  width: 100%;
  background-color: rgba(47, 43, 67, 0.04);
  padding: 15px 20px;
  border-radius: 10px;
}
.header__btn-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__btn-question::before {
  content: "";
  background: url("../images/icons/chat-bubble-question.svg") no-repeat;
  width: 24px;
  height: 24px;
}
.header__tel {
  white-space: nowrap;
  color: rgba(47, 43, 67, 0.5019607843);
  font-size: 14px;
}
.header__tel a {
  color: #140A32;
  display: block;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}
.header__nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__btn-phone::before {
  content: "";
  background: url("../images/icons/phone.svg") no-repeat;
  width: 24px;
  height: 24px;
}
.header__btn-telegram::before {
  content: "";
  background: url("../images/icons/telegram.svg") no-repeat;
  width: 24px;
  height: 24px;
}
.header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__nav-link {
  -webkit-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}
.header__nav-link:hover {
  color: #33836E;
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__user::before {
  content: "";
  background: url("../images/icons/user.svg") no-repeat;
  width: 24px;
  height: 24px;
}
.header__user-login {
  -webkit-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}
.header__user-login:hover {
  color: #33836E;
}
.header__user-register {
  -webkit-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}
.header__user-register:hover {
  color: #33836E;
}